.embla {
    max-width: 48rem;
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 70%;
}
.embla__viewport {
    overflow: hidden;
}
.embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
}
.embla__slide__number {
    box-shadow: inset 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
    border-radius: 1.8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
}
.embla__controls {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
}
.embla_prev_buttons {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
    position: absolute; /* 절대 위치 지정 */
    top: 50%; /* 부모 요소의 50% 수직 위치 */
    transform: translateY(-50%); /* 수직으로 중앙 정렬 */
    left: 0;
}
.embla_next_buttons {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
    position: absolute; /* 절대 위치 지정 */
    top: 50%; /* 부모 요소의 50% 수직 위치 */
    transform: translateY(-50%); /* 수직으로 중앙 정렬 */
    right: 0; /* 전체 버튼 그룹을 슬라이드의 오른쪽에 위치시킵니다. */
}


.embla__button {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.embla__button:disabled {
    color: black;
}
.embla__button__svg {
    width: 35%;
    height: 35%;
}
.embla__dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
    -webkit-tap-highlight-color: black;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.embla__dot:after {
    box-shadow: inset 0 0 0 0.2rem ;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
}
.embla__dot--selected:after {
    box-shadow: inset 0 0 0 0.2rem;
}
