header {
    position: fixed; /* Header를 화면에 고정시킵니다. */
    top: 0; /* 화면의 맨 위에 Header를 배치합니다. */
    z-index: 999; /* 다른 요소들보다 위에 표시되도록 설정 */
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    height: 4rem;
}
.logo {
    display: flex;
    align-items: center;
    height: 5rem;
}

.logo img {
    height: 4rem;
}

.logo h1 {
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: bold;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #fff;
    color: #555;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.dropdown-content a {
    color: #555;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f1f1f1;
}


nav {
    float: right;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}